html
    head
        title Document
    body
        h1 Make server by Express
            div back end study
            h2 게임 profile
            h3 
                a(href="/maplestory") 메이플스토리
            h3 
                a(href="/lostark") 로스트아크

            h2 행운 포털
            h3 
                a(href="/food") 메뉴 추천
            h3 
                a(href="/lucky") 운명의 상대
